.modal-open {
    padding: 0;
  }

.bar {
    display: flex;
}

main {
    flex: 1;
    /* position: absolute; */
    /* left: 200px; */
    
}

#toggle:checked ~ main {
    flex: 1;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 55px;
    background-color: #bbf0d8; 
    color: #CC0000; 
    /* width: calc(100vw - 200px); */

    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.3s;
}

.navbar__hamburger {
    font-size: 4.5rem;
    color: black;
}

.navbar__hamburger:hover {
    cursor: pointer;
}

.navbar__userLink-info {
    font-size: 2rem;
    position: relative;
    align-items: center;
}

.navbar__userLink-info-avatar {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar__userInfo-text {
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 2;
}

.navbar__userInfo-text:hover {
cursor: default;
}

.navbar__userLink-info:hover .navbar__userLink-menu {
    display: block;
}

.navbar__userLink-menu {
    width: 100%;
    background-color: #eee;
    position: absolute;
    top: 35px;
    left: 20px;
    width: 100px;
    border-radius: 4px;
    display: none;
    border: solid 1px var(--text-color);
    border-top: none;
}


.navbar__userLink-menu::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 12px;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -15px;
    right: 15px;
}

.navbar__userLink-menu::after {
    content: "";
    display: block;
    width: 150px;
    height: 15px;
    position: absolute;
    /* background-color: #000; */
    top: -15px;
    right: 0;
}

.navbar__userLink-menu-item {
    font-size: 1.5rem;
    padding: 8px 0;
    text-align: center;
}

.navbar__userLink-menu-item:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}

.navbar__userLink-menu-item-separate {
    border-top: solid 1px #C20000;

}

/* main board content, show items */
.mainBoard {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    margin-top: 20px;
    padding: 0 30px;
}

.mainBoard > .mainBoard-item  {
    border: solid 1px #eee;
    border-radius: 10px;
    background-color: #f1efef;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

.item-header {
    display: flex;
    align-content: center;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #bbb;

}

.item-header-img {
    width: 45px;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border-radius: 3px;
    object-fit: cover;
}

.item-header-content {
    margin: auto 0;
    text-align: left;
    margin-left: 20px;
}

.item-header-content > p {
    line-height: 1.8rem;

}

.item-body {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.item-body .item-body-genre,
.item-body .item-body-created_time {
    font-size: 1.3rem;
    padding: 10px 0 0 20px;
    text-align: left;
    width: 50%;
}

.item-body > p > i {
    margin-right: 7px;
}

.item-body-status {
    font-size: 1.2rem;
    padding: 0 2px;
    text-align: left;
    width: fit-content;
}

.item-body-status.Delivering {
    background-color: var(--delivering-color);
}

.item-body-status.Delivered {
    background-color: var(--delivered-color);
}

.item-body-status.Cancelled {
    background-color: var(--cancelled-color);
}

.item-footer {
    display: flex;
    justify-content: space-evenly;
}

.item-editBtn, .item-deleteBtn {
    outline: none;
    font-size: 1.5rem;
    height: 27px;
    width: 45%;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-editBtn:hover {
    color: #4267B2;
    font-weight: 600;
}

.item-deleteBtn:hover {
    color: #C20000;
    font-weight: 600;
}

.item-editBtn:active, .item-deleteBtn:active {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.modal-title {
    font-size: 1.5rem;
}

.form-group > label {
    font-size: 1.2rem;
}

.form-group > input {
    font-size: 1.2rem;
}

.form-group > select {
    font-size: 1.2rem;
}

.form-group > select > option {
    font-size: 1.2rem;
}

.pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    /* transform: translateX(-50%); */
}

#control {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.buttonPage {
    font-size: 1.8rem;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:focus {
    outline: none;
}

.active {
    background-color: #C20000;
    color: white;
}

.pagePrev, .pageNext {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sidebar {
    position: relative;
    background-color: #6bcfa2; 
    color: #CC0000; 
    width: 200px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: bold;
    height: 100vh;
    padding-top: 30px;
    transition: all 0.15s;
    left: 0;
}

#toggle:checked ~ #sidebar {
    /* left: calc(100vw - 300px); */
    /* animation: slideIn 0.2s linear forwards; */
    left: -200px;
    position: absolute;
}



.sidebar__items {
    font-size: 5rem;
    margin-left: 20px;
}

.sidebar__items .addProductBtn {
    font-size: 1.9rem;
    display: flex;
    justify-content: flex-start;
}

.sidebar__items li {
    margin: 20px 0;
}

.sidebar__items li:hover {
    color: white;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.sidebar__items li i {
    font-size: 1.8rem;
    margin-right: 10px;
}

.sidebar__items li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.sidebar__items li a i {
    font-size: 1.8rem;
    margin-right: 10px;
}

.sidebar__items li a:hover {
    color: white;
    transition: all 0.1s ease-out;
}


/* notice */
.notice {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:30px 0;
}

.notice-delivering, .notice-delivered, .notice-cancelled {
    width: 25%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 2.8rem;
    margin: 0 20px;
    border-left-width: 6px;
    border-left-style: solid;
    background-color: #f8f8f8;
    font-weight: 600;
}

.notice-delivering span, 
.notice-delivered span, 
.notice-cancelled span {
    margin-left: 20px;
}

.notice-delivering {
    border-left-color: var(--delivering-color);
    color: var(--delivering-color);
}

.notice-delivered {
    border-left-color: var(--delivered-color);
    color: var(--delivered-color);
}

.notice-cancelled {
    border-left-color: var(--cancelled-color);
    color: var(--cancelled-color);
}


/* search sidebar */
.sidebar-search {
    height: 40vh;
}

.sidebar-search__text {
    font-size: 2rem;
    margin-top: 40px;
    margin-left: 20px;
}

.sidebar-search__text i {
    font-size: 1.8rem;
    margin-right: 10px;
}

.sidebar-search__input {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: fit-content;
    font-size: 1rem;
}

.search-item {
    margin: 40px 0 0 10px;
    height: 25px;
    /* width: 50px; */
}

.search-item__text {
    font-size: medium;
}

.search-item-name {
    margin-top: 5px;
    font-size: 1.2rem;
    height: 25px;
    width: 150px;
}

.search-item-genre, .search-item-status {
    margin-top: 5px;
    font-size: 1.5rem;
    height: 25px;
    width: 150px;
}

.search-item-genre option, 
.search-item-status option {
    font-size: 1.3rem;
}

.clearSearch {
    width: 150px;
    height: 25px;
    font-size: 1.3rem;
    background-color: #eee;
    border-radius: 4px;
    margin-left: 10px;
}

.clearSearch:hover {
    background-color: white;
}

.noPostFound {
    font-size: 3rem;
    color: #bbb;
    margin: 50px 0 0 40px;   
}

